.container{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 50px repeat(4,200px) 100px; */
    /* grid-template-rows: 100px 100px 100px; */
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: 5px;
    grid-template-rows: repeat(3, minmax(50px, 300px));
}
.item{
    border: 1px solid #000;
}